<!-- Mobile Menu -->
<main *ngIf="IsMobileViewport || IsTabletViewport" class="main mb-4">
  <div [ngClass]="isMobileMenuOpen ? 'd-flex' : 'd-none'" [@expand]="isMobileMenuOpen ? 'true' : 'false'">
    <mat-button-toggle-group value="home" class="w-100 rounded-0" vertical>
      <mat-button-toggle value="home" routerLink="/home">
        {{ 'home' | translate }}
      </mat-button-toggle>
      <mat-button-toggle routerLink="/news">
        {{ 'news' | translate }}
      </mat-button-toggle>
      <mat-button-toggle routerLink="/map">
        {{ 'map' | translate }}
      </mat-button-toggle>
      <mat-button-toggle routerLink="/masaajid">
        {{ 'masaajid' | translate }}
      </mat-button-toggle>
      <mat-button-toggle routerLink="/business">
        {{ 'businesses' | translate }}
      </mat-button-toggle>
      <mat-button-toggle routerLink="/schools">
        {{ 'schools' | translate }}
      </mat-button-toggle>
      <mat-button-toggle routerLink="/islam">
        {{ 'islam' | translate }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
    <button mat-stroked-button class="rounded-0 border-start-0 border-end-0 w-100 mobile-hamburger-button d-flex" [ngClass]="isMobileMenuOpen ? '' : 'border-top-0'" (click)="toggleMobileMenu()">
      <div class="menu-button-label d-flex align-items-center">
        <div class="logo-avatar-nav"></div>
        <div class="menu-button-label-text ms-2">{{isMobileMenuOpen ? 'Close' : 'Open'}} Menu</div>
      </div>
      <mat-icon>{{isMobileMenuOpen ? 'expand_less' : 'expand_more'}}</mat-icon>
    </button>
</main>

<!-- Desktop Menu -->
<main class="main mb-4" *ngIf="IsLaptopViewport || IsLargeViewport || IsXLargeViewport">
  <mat-button-toggle-group value="home" class="w-100 rounded-0">
    <mat-button-toggle value="home" routerLink="/home">
      {{ 'home' | translate }}
    </mat-button-toggle>
    <mat-button-toggle routerLink="/news">
      {{ 'news' | translate }}
    </mat-button-toggle>
    <mat-button-toggle routerLink="/map">
      {{ 'map' | translate }}
    </mat-button-toggle>
    <mat-button-toggle routerLink="/masaajid">
      {{ 'masaajid' | translate }}
    </mat-button-toggle>
    <mat-button-toggle routerLink="/business">
      {{ 'businesses' | translate }}
    </mat-button-toggle>
    <mat-button-toggle routerLink="/schools">
      {{ 'schools' | translate }}
    </mat-button-toggle>
    <mat-button-toggle routerLink="/islam">
      {{ 'islam' | translate }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</main>

<router-outlet />