<!-- Mobile Menu -->
<main *ngIf="IsMobileViewport || IsTabletViewport" class="main mb-4">
  <div [ngClass]="isMobileMenuOpen ? 'd-flex' : 'd-none'" [@expand]="isMobileMenuOpen ? 'true' : 'false'">
    <mat-button-toggle-group value="home" class="w-100 rounded-0" vertical>
      <mat-button-toggle value="home" routerLink="/home">
        Home
      </mat-button-toggle>
      <mat-button-toggle routerLink="/news">
        News
      </mat-button-toggle>
      <mat-button-toggle routerLink="/map">
        Map
      </mat-button-toggle>
      <mat-button-toggle routerLink="/mosques">
        Masaajid
      </mat-button-toggle>
      <mat-button-toggle routerLink="/businesses">
        Businesses
      </mat-button-toggle>
      <mat-button-toggle routerLink="/schools">
        Schools
      </mat-button-toggle>
      <mat-button-toggle routerLink="/islam">
        Islam
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
    <button mat-stroked-button class="rounded-0 border-start-0 border-end-0 w-100 mobile-hamburger-button d-flex" [ngClass]="isMobileMenuOpen ? '' : 'border-top-0'" (click)="toggleMobileMenu()">
      <div class="menu-button-label d-flex align-items-center">
        <div class="logo-avatar-nav"></div>
        <div class="menu-button-label-text ms-2">{{isMobileMenuOpen ? 'Close' : 'Open'}} Menu</div>
      </div>
      <mat-icon>{{isMobileMenuOpen ? 'expand_less' : 'expand_more'}}</mat-icon>
    </button>
</main>

<!-- Desktop Menu -->
<main class="main mb-4" *ngIf="IsLaptopViewport || IsLargeViewport || IsXLargeViewport">
  <mat-button-toggle-group value="home" class="w-100 rounded-0">
    <mat-button-toggle value="home" routerLink="/home">
      Home
    </mat-button-toggle>
    <mat-button-toggle routerLink="/news">
      News
    </mat-button-toggle>
    <mat-button-toggle routerLink="/map">
      Map
    </mat-button-toggle>
    <mat-button-toggle routerLink="/mosques">
      Masaajid
    </mat-button-toggle>
    <mat-button-toggle routerLink="/businesses">
      Businesses
    </mat-button-toggle>
    <mat-button-toggle routerLink="/schools">
      Schools
    </mat-button-toggle>
    <mat-button-toggle routerLink="/islam">
      Islam
    </mat-button-toggle>
  </mat-button-toggle-group>
</main>

<router-outlet />