<div class="container">
    <div class="calendar-container mb-4">
        <iframe 
        [src]="gCalendarUrl | safeUrl"
        width="100%" 
        height="600" 
        frameborder="0" 
        scrolling="yes">
        </iframe>
    </div>
    <div class="news-container">
        <mat-card class="rounded-0" appearance="outlined">
            <mat-card-header class="my-4">
                <mat-card-title>Title</mat-card-title>
                <mat-card-subtitle>Date, Time, Location</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Blurb about Event</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>