<div class="container">
    <mat-card class="rounded-0" appearance="outlined">
        <mat-card-header class="my-4">
            <div mat-card-avatar class="logo-avatar"></div>
            <mat-card-title>Louisville Lip</mat-card-title>
            <mat-card-subtitle>Louisville Muslim Community News &amp; Resources</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Welcome to the Louisville Lip Website!</p>
            <p>Learn more about the maintainer of the Louisville Lip Newsletter here: <a routerLink="/about">Hamza Foy</a></p>
        </mat-card-content>
    </mat-card>
</div>