<div class="container">
    <div class="map-container mb-4">
        <iframe 
        width="100%" 
        height="600" 
        frameborder="0" 
        allowfullscreen
        src="https://www.google.com/maps/d/u/1/embed?mid=16Yfh1Kg-Uk5FIhc-IJytHvaQuwwVBrw&ehbc=2E312F&noprof=1"
        >
        </iframe>
    </div>
    <mat-button-toggle-group class="i18n-translator" [value]="selectedLanguage" (change)="onLanguageChange($event.value)">
        <mat-button-toggle value="en" (click)="languageService.setLanguage('en')">English</mat-button-toggle>
        <mat-button-toggle value="ar" (click)="languageService.setLanguage('ar')">العربية</mat-button-toggle>
        <mat-button-toggle value="so" (click)="languageService.setLanguage('so')">Af Soomaali</mat-button-toggle>
    </mat-button-toggle-group>
</div>