<div class="d-flex">
    <span [class.mobile-text]="IsMobileViewport || IsTabletViewport" matSnackBarLabel>
        <div>{{ 'janazahDate' | translate }}: {{data.date}} {{data.time}}</div>
        <div>{{ 'janazahLocation' | translate }}: {{data.location}}</div>
        <div>{{ 'janazahAddress' | translate }}: {{data.address}}</div>
        <div>{{ 'deceased' | translate }}: {{data.name}}</div>
    </span>
    <span matSnackBarActions>
        <button mat-icon-button matSnackBarAction (click)="snackbarRef.dismiss()">
            <mat-icon>close</mat-icon>
        </button>
    </span>
</div>